[submodule "themes/pelican-alchemy"]
	path = themes/pelican-alchemy
	url = https://github.com/nairobilug/pelican-alchemy
[submodule "themes/custom"]
	path = themes/custom
	url = git@github.com:nabeelsherazi/pelican-alchemy
